In [1]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [2]:
data=pd.read_csv(r"C:\Users\aksha\Desktop\AKSHARA\SEM 2\DATA SCIENCE\Proper\Linear regression\cars.csv")

In [3]:
df1=pd.DataFrame(data)
df1

,make,model,priceUSD,year,condition,mileage(kilometers),fuel_type,volume(cm3),color,transmission,drive_unit,segment
0,mazda,2,5500,2008,with mileage,162000.0,petrol,1500.0,burgundy,mechanics,front-wheel drive,B
1,mazda,2,5350,2009,with mileage,120000.0,petrol,1300.0,black,mechanics,front-wheel drive,B
2,mazda,2,7000,2009,with mileage,61000.0,petrol,1500.0,silver,auto,front-wheel drive,B
3,mazda,2,3300,2003,with mileage,265000.0,diesel,1400.0,white,mechanics,front-wheel drive,B
4,mazda,2,5200,2008,with mileage,97183.0,diesel,1400.0,gray,mechanics,front-wheel drive,B
...,...,...,...,...,...,...,...,...,...,...,...,...
56239,lancia,zeta,3650,2000,with mileage,290000.0,petrol,2000.0,other,mechanics,front-wheel drive,M
56240,lancia,zeta,4100,1999,with mileage,340000.0,diesel,2100.0,blue,mechanics,front-wheel drive,M
56241,lancia,zeta,3600,1997,with mileage,354000.0,diesel,2100.0,burgundy,mechanics,front-wheel drive,M
56242,lancia,zeta,3000,1997,with mileage,350000.0,petrol,2000.0,blue,mechanics,front-wheel drive,M
56243,lancia,zeta,2950,1996,with mileage,3.0,petrol,2000.0,burgundy,mechanics,front-wheel drive,M

In [4]:
encode=LabelEncoder()

In [5]:
df1['condition']=encode.fit_transform(df1['condition'])
df1['model']=encode.fit_transform(df1['model'])
df1['make']=encode.fit_transform(df1['make'])
df1['fuel_type']=encode.fit_transform(df1['fuel_type'])
df1['color']=encode.fit_transform(df1['color'])
df1['transmission']=encode.fit_transform(df1['transmission'])
df1['drive_unit']=encode.fit_transform(df1['drive_unit'])
df1['segment']=encode.fit_transform(df1['segment'])
df1

,make,model,priceUSD,year,condition,mileage(kilometers),fuel_type,volume(cm3),color,transmission,drive_unit,segment
0,52,24,5500,2008,2,162000.0,2,1500.0,3,1,1,1
1,52,24,5350,2009,2,120000.0,2,1300.0,0,1,1,1
2,52,24,7000,2009,2,61000.0,2,1500.0,10,0,1,1
3,52,24,3300,2003,2,265000.0,0,1400.0,11,1,1,1
4,52,24,5200,2008,2,97183.0,0,1400.0,4,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...
56239,45,1033,3650,2000,2,290000.0,2,2000.0,7,1,1,7
56240,45,1033,4100,1999,2,340000.0,0,2100.0,1,1,1,7
56241,45,1033,3600,1997,2,354000.0,0,2100.0,3,1,1,7
56242,45,1033,3000,1997,2,350000.0,2,2000.0,1,1,1,7
56243,45,1033,2950,1996,2,3.0,2,2000.0,3,1,1,7

In [6]:
df1['volume(cm3)'].fillna(df1['volume(cm3)'].mean(),inplace=True)

In [7]:
Q1 = df1.quantile(0.25)
Q3 = df1.quantile(0.75)
IQR = Q3 - Q1
df = df1[~((df1< (Q1 - 1.5 * IQR)) |(df1 > (Q3 + 1.5 * IQR))).any(axis=1)]

In [8]:
x=df.drop('priceUSD',axis=1)
y=df['priceUSD']

In [9]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.25)

In [10]:
model=LinearRegression()
model.fit(x_train,y_train)

LinearRegression()

In [11]:
print(model.score(x_train,y_train)*100)
print(model.score(x_test,y_test)*100)

74.49568790868375
74.35021768857423